:root {
  --basic-white: #FFFFFF;
  --basic-blue: #81B3D2;
  --hover-blue: #669EC0;
  --active-blue: #5496BD;
  --basic-brown: #766357;
  --hover-brown: #604E43;
  --active-brown: #503E33;
  --basic-grey: #EEEEEE;
  --text-grey: #333333;
  --link-grey: #BDBBBC;
  --toggle-gray: #ABABAB;
  --basic-black: #000000;
  --light-grey: #e5e5e5;
  --middle-grey: #f2f2f2;
  --opacity-white: rgba(255, 255, 255, 0.3);
  --footer-white: rgba(255, 255, 255, 0.9);
  --shadow-black: rgba(0, 1, 1, 0.2);
  --modal-black: rgba(0, 1, 1, 0.15);
}

.page {
  min-width: 1200px;
  background-color: var(--basic-grey);
}

.page-body {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  font-family: "PT Sans", "Arial", sans-serif;
  background: var(--basic-white);
  text-transform: uppercase;
  width: 1200px;
  min-height: 100%;
  margin: auto;
  padding: 0;
  box-shadow: 0px 5px 15px var(--shadow-black);
}

/* index.html */
/* header */

.main-nav {
  display: flex;
  height: 56px;
  margin-left: 64px;
}

.main-nav-logo {
  display: flex;
  justify-self: center;
  order: 0;
  height: 70px;
  z-index: 1;
  width: 138px;
}

.main-nav-logo-link {
  z-index: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.site-nav {
  display: flex;
  order: -1;
}

.site-nav-item {
  width: 180px;
  text-align: left;
  padding: 15px 10px;
  margin-right: 26px;
}

.site-nav .site-nav-item:last-of-type {
  margin-right: 40px;
}

.site-nav,
.site-nav-right {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
}

.site-nav-right .site-nav-item {
  text-align: right;
}

.site-nav-right .site-nav-item:first-of-type {
  margin-left: 45px;
}

.site-nav-link {
  color: var(--basic-black);
  text-decoration: none;
}

.site-nav-link-active {
  color: var(--basic-brown);
}

.site-nav-link:hover {
  color: var(--basic-blue);
}

.site-nav-link:active {
  mix-blend-mode: normal;
  opacity: 0.3;
}


/* main */

/* общие  */

.container {
  width: 1200px;
}

.main-background {
  background: url("../img/main-background-photo.jpg");
  background-color: var(--text-grey);
  width: 1200px;
  height: 509px;
  position: relative;
  z-index: 0;
}

.main-background-title {
  z-index: 1;
  position: absolute;
  left: 371px;
  top: 27px;
}

.main-background::after {
  content: "";
  background-image: url("../img/main-background-decorate.svg");
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 56px;
}

.reasons {
  text-align: center;
  margin-top: 43px;
}

.main-title {
  min-width: 470px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  min-height: 80px;
  margin: auto;
  margin-bottom: 15px;
  padding: 0 20px;
}

.reasons-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  margin: auto;
  color: var(--text-grey);
}

/* Первая причина */

.first-reason {
  margin-top: 51px;
  display: flex;
  background-color: var(--basic-blue);
  min-height: 256px;
}

.first-reason-text-wrapper {
  display: grid;
  grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content min-content;
  grid-gap: 18px;
  width: 400px;
  padding: 18px 10px;
  margin-top: 30px;
}

.first-reason-text-wrapper .reasons-item-text-first {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-white);
  padding: 0 20px;
  margin-top: 5px;
}

.first-reason-text-wrapper .reasons-item-title-first {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-white);
  margin: auto;
  width: 200px;
  margin-bottom: 8px;
}

.first-reason-image {
  height: auto;
}

.first-reason-text-wrapper .item-number {
  width: 300px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-white);
  text-align: center;
  margin: auto;
}

/* Вторая причина */

.second-reason {
  display: flex;
  background-color: var(--basic-blue);
  min-height: 256px;
}

.reasons-item-title-reverse {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-white);
  width: 200px;
  margin: auto;
  margin-bottom: 8px;
  padding: 2px 5px;

}

.reasons-item-text-reverse {
  width: 320px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-white);
  margin: auto;
  padding: 5px 5px;
}

.second-reason .item-number {
  width: 300px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-white);
  text-align: center;
}

/* список с иконками */

.reasons-list-row-icon {
  display: flex;
  font-size: 21px;
  line-height: 21px;
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 330px;
  background-color: var(--basic-white);
}

.reasons-item-row-icon {
  margin: 0;
  width: 400px;
  text-align: center;
  padding: 61px 50px 15px 50px;
}

.reasons-item-title {
  width: 125px;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
}

.reasons-list-row-icon .reasons-item-text {
  max-width: 400px;
  max-height: 256px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: var(--text-grey);
}

.reasons-item-row-icon:first-child::before {
  content: url("../img/icon-house.svg");
}

.reasons-item-row-icon:nth-child(2)::before {
  content: url("../img/icon-burger.svg");
}

.reasons-item-row-icon:last-child::before {
  content: url("../img/icon-gift.svg");
}


.reasons-item-row-icon:last-child {
  padding-top: 58px;
}

.reasons-item-row-icon:last-child .reasons-item-title {
  margin-top: 23px;
}

/* рядный список без иконок */

.reasons-list-row {
  width: 1200px;
  display: flex;
  font-size: 14px;
  line-height: 21px;
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 256px;
  background: var(--basic-grey);
}

.reasons-item-row {
  margin: 0;
  padding: 48px 15px 10px 15px;
  width: 400px;
  text-align: center;
}

.reasons-item-title-row {
  width: 120px;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  margin: auto;
  margin-bottom: 13px;
}

.reasons-item-row .reasons-item-text {
  width: 280px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--text-grey);
  margin: auto;
  padding: 12px 5px;
}

/* секция выбора отеля и дат */
.hotel-search-section {
  margin-top: 57px;
  width: 1200px;
  text-align: center;
  position: relative;
}

.titles {
  height: 234px;
  padding: 0 20px;
}

.map {
  width: 1200px;
  margin: auto;
  height: 594px;
  border: none;
}

.map-hidden {
  display: none;
}

.hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  padding: 0 20px;
}

.hotel-search-text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding: 7px 10px 0 10px;
}

/* footer */

.page-footer {
  width: 1200px;
  display: flex;
  margin-top: -125px;
  z-index: 1;
  background-color: var(--footer-white);
  padding: 5px 65px 15px 65px;
  box-sizing: border-box;
}

.hotels-footer {
  display: flex;
  justify-content: space-around;
  padding: 5px 65px 30px 65px;
  box-sizing: border-box;
}

.contacts-text {
  margin-top: 20px;
}

.contacts-text,
.contacts-phone {
  width: 341px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  color: var(--basic-black);
  text-align: center;
}

.contacts-phone {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

.footer-social {
  width: 177px;
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
  margin: auto;
  padding-top: 6px;
}

.footer-social-item {
  margin-right: 5px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.contacts-site {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 341px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  margin-top: 25px;
}

.contacts-site-link {
  margin-left: 8px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--basic-blue);
  width: 47px;
  height: 48px;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--active-blue);
}

.social-button:active path {
  fill: var(--basic-white);
  opacity: 0.3;
}


.contacts-site-link:hover path,
.contacts-site-link:focus path {
  fill: var(--basic-blue);
}

.contacts-site-link:active path {
  fill: var(--link-grey);
}

/*hotels.html*/

.hotels-filter {
  background: url("../img/hotels-filter-background.jpg") no-repeat var(--text-grey);
  background-size: cover;
  color: var(--basic-white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 1200px;
  z-index: 0;
  padding: 25px 62px 5px 60px;
  box-sizing: border-box;
}

.hotels-filter-label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding-left: 40px;
}


.filter-input-checkbox+.hotels-filter-label {
  background: url("../img/checkbox-off-icon.svg") no-repeat;
  display: block;
  height: 25px;
}

.filter-input-checkbox:focus+.hotels-filter-label {
  text-decoration: underline;
}

.filter-input-checkbox:checked+.hotels-filter-label {
  background: url("../img/checkbox-on-icon.svg") no-repeat;
  display: block;
  height: 25px;
}

.filter-input-checkbox:disabled+.hotels-filter-label {
  background: url("../img/checkbox-disabled-icon.svg") no-repeat;
  display: block;
  height: 25px;
}

.filter-input-checkbox:checked:disabled+.hotels-filter-label {
  background: url("../img/checkbox-on-icon-disabled.svg") no-repeat;
  display: block;
  height: 25px;
}

.infrastructure,
.type-of-hotel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-height: 100%;
  width: 230px;
  border: none;
}

.infrastructure .hotels-filter-title {
  margin-bottom: 18px;
}

.hotels-filter-item:last-child {
  margin-bottom: 13px;
}

.type-of-hotel {
  margin-left: 10px;
  padding: 0;
}

.cost-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 400px;
  flex-grow: 3;
}

.price-controls .hotels-filter-title::after {
  content: "";
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
  position: absolute;
  top: 40px;
  left: 72%;
}

.range-controls {
  width: 318px;
  height: 35px;
  padding-top: 20px;
  margin-right: 9px;
  position: relative;
}

.range-controls .toggle {
  position: absolute;
  left: 0;
  top: 10px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--toggle-gray);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.toggle:focus {
  outline: none;
  transform: scale(1.2);
}

.range-controls .toggle:hover {
  transform: scale(1.2);
}


.range-controls .toggle-max {
  left: 80%;
}

.scale {
  height: 2px;
  background: var(--opacity-white);
}

.range-controls .bar {
  height: 2px;
  width: 80%;
  z-index: 1;
  background: var(--basic-white);
}

.hotels-filter-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.hotels-filter-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 22px;
  position: relative;
}

.price-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: 9px;
}

.hotels-filter-title {
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  text-align: left;
  position: relative;
}

.price-controls .hotels-filter-title {
  text-align: center;
  padding-left: 114px;
  margin-bottom: 12px;
}

.price-input {
  background: none;
  border: 2px solid var(--basic-white);
  color: var(--basic-white);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: inherit;
  width: 158px;
  padding: 6px 0;
}

.price-input:first-of-type {
  border-right: none;
}

.price-input:last-child {
  border-left: none;
}

.filter-button {
  color: var(--basic-white);
  text-decoration: none;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  font-size: 14px;
  line-height: 21px;
  padding: 5px 35px 5px 34px;
  background-color: inherit;
  margin-right: 104px;
  text-transform: uppercase;
}

.filter-button:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.hotels-filter-result {
  padding: 0;
  margin: 0;
}

.hotels-filter-result-wrapper {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 138px 100px 2fr -webkit-min-content;
  grid-template-columns: 138px 90px 1fr -webkit-min-content;
  grid-template-columns: 138px 90px 1fr min-content;
  height: 86px;
  border-bottom: 1px solid var(--light-grey);
  padding: 0 73px;
}

.sort {
  padding: 0;
  margin: 0;
  padding: 31px 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.sort-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  padding-top: 30px;
}

.sort-item .sort-item-link {
  margin: 0;
  padding: 0;
  margin-right: 33px;
}

.sort-item:last-child {
  margin-right: 0;
}

.icon-link-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-left: auto;
}

.icon-link-item {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 11px;
}

.icon-link-item:hover path {
  fill: var(--basic-black);
}

.icon-link-item:active path {
  fill: var(--basic-blue);
}

.hotels-filter-result-title,
.hotels-list-link {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;

}

.hotels-filter-result-title {
  margin-top: 29px;
}

.hotels-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item-wrapper {
  max-height: 100%;
  margin: 0;
  padding: 0;
  max-width: 1200px;
  padding: 25px 73px 5px 29px;
}

.hotels-list-item {
  display: grid;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content;
  align-content: start;
  min-height: 150px;
  max-width: 1200px;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--light-grey);
  margin-left: 73px;
  position: relative;
}

.hotels-list-item .item-wrapper:after {
  content: "";
  position: absolute;
  background: url("../img/star-icon.svg") space;
  top: 30px;
  right: 70px;
}

.hotels-list-item:first-child .item-wrapper:first-of-type:after {
  height: 17px;
  width: 91px;
}

.hotels-list-item:nth-child(2) .item-wrapper:after {
  height: 17px;
  width: 65px;
}

.hotels-list-item:last-child .item-wrapper:after {
  height: 17px;
  width: 43px;
}

.hotel-second-type {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--text-grey);
  width: 179px;
  margin: 0;
  padding: 0;
  margin-top: 7px;
  margin-bottom: 14px;
}

.hotels-list-item-image {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

.links-and-rating {
  max-height: 40px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  max-height: 50px;
  display: grid;
  grid-template-columns: -webkit-min-content -webkit-min-content;
  grid-template-columns: min-content min-content;
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content;
  grid-gap: 6px;
}

.rating {
  width: 109px;
  height: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--middle-grey);
  margin: 0;
  padding-top: 3px;
  text-align: center;
  
}

.details-link,
.booking-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  padding: 3px 18px 3px 16px;
}

.details-link {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.details-link:hover,
.details-link:focus {
  background: var(--hover-blue);
}

.search-button:hover,
.search-button:focus {
  background: var(--hover-blue);
}

.details-link:active,
.search-button:active {
  background: var(--active-blue);
  color: var(--opacity-white);
}

.details-link:hover {
  background: var(--hover-blue);
}

.details-link:active {
  background: var(--active-blue);
  color: var(--opacity-white);
}

.booking-link {
  background: var(--basic-brown);
  color: var(--basic-white);
}

.booking-link:hover {
  background: var(--hover-brown);
}

.booking-link:active {
  background: var(--active-brown);
  color: var(--opacity-white);
}

.sort-item-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px dotted var(--basic-blue);
}

.sort-item-link-active {
  border: none;
  color: var(--basic-blue);
  opacity: 1;
}

.sort-item-link:hover,
.sort-item-link:focus {
  color: var(--basic-blue);
  opacity: 1;
}

.sort-item-link:Active {
  color: var(--basic-black);
  border: none;
}

.hotels-list-link {
  color: var(--basic-black);
  text-decoration: none;
  position: relative;
  padding-right: 30px;
  display: block;
}

.hotels-list-link:hover {
  color: var(--basic-blue);
}

.hotels-list-link:active {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

/* Modal */

.modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  position: absolute;
  top: 148px;
  left: 315px;
  overflow: hidden;
}

.modal-form {
  width: 570px;
  height: 370px;
  background: var(--basic-white);
  box-shadow: 0px 7px 15px var(--modal-black);
  padding-top: 25px;
  display: none;
  margin: auto;
}

.modal-open {
  display: block;
  z-index: 1;
}

.modal-show {
  display: block;
  -webkit-animation: show 0.5s;
  animation: show 0.5s;
}

.modal-close {
  display: none;
}

.modal-error {
  animation: error, 5s;
}

@-webkit-keyframes show {
  0% {
    transform: translateY(-1000px)
  }

  ;

  40% {
    transform: translateY(-500px)
  }

  ;

  100% {
    transform: translateY(0px)
  }

  ;
}

@keyframes show {
  0% {
    transform: translateY(-1000px)
  }

  ;

  40% {
    transform: translateY(-500px)
  }

  ;

  100% {
    transform: translateY(0px)
  }

  ;
}

@keyframes error {
  0%,
  100% {
    transform: translateX(0);
  }

  ;

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-20px);
  }

  ;

  20%,
  40%,
  60%,
  80% {
    transform: translateX(20px);
  }

  ;
}

.modal-title,
.search-button {
  padding: 0;
  text-align: center;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.modal-title {
  width: 568px;
  height: 86px;
  margin: auto;
  color: var(--basic-white);
  background: var(--basic-brown);
  z-index: 1;
}

.modal-button {
  width: 568px;
  height: 86px;
  margin: auto;
  padding: 0;
  text-align: center;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  border: none;
  color: var(--basic-white);
  background: var(--basic-brown);
  text-transform: uppercase;
  z-index: 1;
}

.modal-button:hover,
.modal-button:focus {
  background: var(--hover-brown);
}

.modal-button:active {
  background: var(--active-brown);
  color: var(--opacity-white);
}

.tour-date-list {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  padding: 0;
  margin: 0;
  margin-top: 27px;
}

.tour-date-item {
  position: relative;
  margin-bottom: 10px;
  margin-left: 35px;
}

.tour-date-input {
  width: 330px;
  border: none;
  background: var(--middle-grey);
  text-transform: inherit;
  font-weight: inherit;
  line-height: 26px;
  margin-right: 35px;
  margin-left: 20px;
  padding-left: 12px;
  height: 38px;
}

.tour-date-item-departure {
  margin-left: 35px;
  margin-top: 10px;
}

.departure-input {
  width: 331px;
  padding-right: 7px;
  padding-left: 8px;
  margin-top: 5px;
  margin-left: 16px;
}

.calendar-icon {
  position: absolute;
  top: 0px;
  right: 0px;
}

.calendar-button {
  position: absolute;
  top: 9px;
  right: 66px;
  background: none;
  border: none;
  color: none;
  width: 21px;
  height: 23px;
}

.calendar-button-departure {
  top: 15px;
  right: 66px;
}

.calendar-icon-departure {
  position: absolute;
  right: 0px;
  top: 0px;
}

.calendar-button:hover path,
.calendar-button:focus path {
  fill: var(--basic-black);
}

.calendar-button:active path {
  fill: var(--basic-blue);
}

.tourist-counter-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  margin-left: 16px;
  margin-top: 19px;
}

.tourist-counter-input {
  border: none;
  background: var(--middle-grey);
  width: 33px;
  padding: 5px 39px 5px 39px;
  margin-left: 39px;
  text-align: center;
  font-weight: 700;
  line-height: 26px;
}

.tourist-counter-item-adults {
  position: relative;
}

.minus-button {
  position: absolute;
  width: 12px;
  height: 3px;
  border: none;
  background: none;
  left: 125px;
  top: 18px;
}

.minus-icon {
  position: absolute;
  top: 0px;
  right: 0px;
}

.plus-button {
  position: absolute;
  width: 11px;
  height: 11px;
  right: 12px;
  top: 14px;
  border: none;
  background: none;
}

.plus-icon {
  position: absolute;
  right: 0px;
  top: 0px;
}

.minus-button:hover path,
.plus-button:hover path {
  fill: var(--basic-black);
}

.minus-button:active path,
.plus-button:active path {
  fill: var(--basic-blue);
}

.tourist-counter-item .minus-button {
  position: absolute;
  left: 80px;
}

.tourist-counter-list .tourist-counter-item {
  margin-left: 55px;
  position: relative;
}

.kids-count-input {
  margin-left: 25px;
}

.search-button {
  display: flex;
  justify-content: center;
  width: 460px;
  margin: auto;
  background: var(--basic-blue);
  text-align: center;
  padding: 16px 185px 16px 182px;
  margin-top: 56px;
  margin-bottom: 55px;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
}