:root {
  --basic-white: #FFFFFF;
  --basic-blue: #81B3D2;
  --basic-brown: #766357;
  --basic-grey: #EEEEEE;
  --text-grey: #333333;
  --basic-black: #000000;
  --light-grey: #e5e5e5;
  --middle-grey: #f2f2f2;
}

.page {
  min-width: 1200px;
  background-color: var(--basic-grey);

}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: "PT Sans", "Arial", sans-serif;
  background: var(--basic-white);
  text-transform: uppercase;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

/* index.html */
/* header */

.main-nav {
  display: flex;
  height: 56px;
}




.main-nav-logo {
  display: flex;
  align-self: center;
  order: 0;
  height: 70px;
  z-index: 1;
  margin-left: 70px;

}


.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.site-nav {
  text-align: left;
  display: flex;
  margin-left: 72px;
  order: -1;
}

.site-nav,
.site-nav-right {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
}

.site-nav-right {
  text-align: right;
}

.site-nav-right:last-child {
  margin-right: 72px;
}

.site-nav-link {
  display: block;
  color: var(--basic-black);
  text-decoration: none;
  padding: 15px 10px;
  width: 140px;
}

.site-nav-link:first-child {
  margin-left: 72px;
}

.site-nav-link:hover {
  color: var(--basic-blue);
}

.site-nav-link:active {
  mix-blend-mode: normal;
  opacity: 0.3;
}



/* main */

/* общие  */
.main-background {
  background-image: url(../img/main-background-photo.jpg);
  background-color: var(--basic-blue);
  width: 1200px;
  height: 509px;
  position: relative;
  z-index: 0;
}

.main-background::after {
  content: "";
  background-image: url(../img/main-background-decorate.svg);
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 57px;
}

.reasons {
  text-align: center;
}


.main-title {
  width: 470px;
  padding-top: 42px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  height: 80px;
  margin: 0 auto;
}


.reasons-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 51px;
  margin-top: 16px;
}





/* Первая причина */

.first-reason {
  display: grid;
  grid-template-rows: min-content min-content min-content;
  align-content: center;
  width: 1200px;
  background-color: var(--basic-blue);
  height: 256px;
  position: relative;
}

.first-reason::after {
  width: 800px;
  position: absolute;
  left: 400px;
  content: url(../img/first-reason-image.jpg);
}


.reasons-item-text-first {
  width: 300px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-white);
  text-align: center;
  margin-left: 52px;


}


.reasons-item-title-first {
  width: 125px;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-white);
  margin-left: 139px;
}

.reasons-item {
  max-height: 256px;
  background: var(--basic-blue);
  color: var(--basic-white);
  outline: 2px solid green;
  width: 1200px;
  display: flex;
}


/* Вторая причина */

.second-reason {
  display: grid;
  grid-template-rows: min-content min-content min-content;
  align-content: center;
  justify-content: end;
  width: 1200px;
  background-color: var(--basic-blue);
  height: 256px;
  position: relative;
}

.second-reason::before {
  width: 800px;
  position: absolute;
  right: 400px;
  content: url(../img/first-reason-image.jpg);
}


.reasons-item-title-reverse {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-white);
  width: 170px;
  text-align: center;
  margin-left: 80px;
  margin-top: 30px;


}

.reasons-item-text-reverse {
  width: 320px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-white);
  text-align: center;
  margin-right: 40px;


}

/* список с иконками */

.reasons-list-row-icon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 21px;
  line-height: 21px;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 330px;
}

.reasons-item-row-icon {
  margin: 0;
  padding: 0;
  width: 400px;
  text-align: center;
  margin-top: 64px;
}

.reasons-item-title {
  width: 125px;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  margin-top: 28px;
}

.reasons-list-row-icon .reasons-item-text {
  max-width: 400px;
  max-height: 256px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  padding: 10px 50px 82px 50px;
  text-align: center;
  color: var(--text-grey);
}


.reasons-item-row-icon:first-child::before {
  content: url(../img/icon-house.svg);
  margin-top: 64px;
}

.reasons-item-row-icon:nth-child(2)::before {
  content: url(../img/icon-burger.svg);
  margin-top: 61px;
}

.reasons-item-row-icon:last-child::before {
  content: url(../img/icon-gift.svg);
  margin-top: 56px;
}

/* рядный список без иконок */


.reasons-list-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: flex-start;
  font-size: 14px;
  line-height: 21px;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 256px;
  background: var(--basic-grey);
}

.reasons-item-row {
  margin: 0;
  padding: 0;
  width: 400px;
  text-align: center;
  margin-top: 47px;
}

.reasons-item-title-row {
  width: 120px;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  margin: 0 auto;
}

.reasons-item-row .reasons-item-text {
  width: 280px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: var(--text-grey);
  margin: 0 auto;
  margin-top: 25px;

}

/* секция выбора отеля и дат */
.hotel-search-section {
  text-align: center;
}

.hotel-search-title {
  padding-top: 58px;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}

.hotel-search-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 78px;
}

/* footer */

.contacts {
  margin-top: 23px;
  display: flex;
  justify-content: space-around;

}

.contacts-text,
.contacts-phone {
  width: 250px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  color: var(--basic-black);
  flex-wrap: wrap;
  text-align: center;
}

.footer-social {
  width: 150px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0 auto;
}


.contacts-site {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--basic-blue);
  width: 46px;
  height: 48px;
}

/*hotels.html*/

.hotels-filter {
  background: url("../img/hotels-filter-background.jpg") no-repeat var(--basic-blue);
  background-size: cover;
  color: var(--basic-white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 217px;
  width: 1200px;
}

.hotels-filter-label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-left: 43px;
}

.hotels-filter-label::before {
  position: absolute;
  left: 0px;
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid var(--basic-white);
  border-radius: 12%;
}

.infrastructure,
.type-of-hotel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-height: 100%;
  width: 230px;
  border: none;
  margin-left: 72px;
  margin-top: 26px;
  margin-bottom: 32px;
}

.type-of-hotel {
  margin-left: 0;
}

.cost-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 217px;
  margin: 0;
  padding: 0;
  margin-right: 73px;
  flex-grow: 3;
}

.hotels-filter-title {

  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  padding: 0;
  margin-top: 26px;
  margin-bottom: 24px;
}

.hotels-filter-list {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.hotels-filter-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
}

.filter-button {
  color: var(--basic-white);
  text-decoration: none;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  font-size: 14px;
  line-height: 21px;
  padding: 5px 25px;
  background-color: inherit;

}

.hotels-filter-result-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 86px;
  border-bottom: 1px solid var(--light-grey);
}

.sort {
  padding-top: 20px;
  padding-left: 46px;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.sort-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  padding-top: 30px;

}

.hotels-filter-result-title,
.hotels-list-link {

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.hotels-filter-result-title {
  padding-top: 20px;
  margin-left: 73px;
}

.hotels-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hotel-name {
  height: 26px;
  position: absolute;
  left: 20%;
}

.item-wrapper {
  max-height: 150px;
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: 1fr;
  align-content: start;
  margin-left: 29px;
  margin-top: 23px;
}



.hotels-list-item-second {
  display: grid;
  grid-template-columns: min-content 1fr;
  height: 150px;
  max-width: 1200px;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--light-grey);

}

.hotel-second-type {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--text-grey);
  width: 240px;
}

.span {
  padding: 0 15px;
  margin-left: 5px;
}

.hotels-list-item-second img {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-left: 73px;
}

.links-and-rating {
  max-height: 45px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.links {
  max-height: 50px;
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: min-content;
  grid-gap: 6px;
}

.rating {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--middle-grey);
  margin-right: 80px;
  margin-bottom: 30px;

  padding: 0;
  margin: 0;
  margin-right: 70px;
  padding: 3px 12px 3px 15px;
}

.details-link-second,
.booking-link-second {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  padding: 3px 17px 3px 16px;
}

.details-link-second {
  background: var(--basic-blue);
  color: var(--basic-white);
}

.booking-link-second {
  background: var(--basic-brown);
  color: var(--basic-white);
}

.hotels-list-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 150px;
  margin-left: 73px;
  width: 1200px;
  position: relative;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--light-grey);
}

.hotels-list-item-image {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  margin-left: 73px;
}


.hotel-type,
.hotel-price {
  display: flex;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--text-grey);
  height: 21px;
  margin-top: 9px;
}

.hotel-type {
  margin-right: 20px;
  position: absolute;
  top: 40px;
  left: 20%;
}

.hotel-price {
  position: absolute;
  top: 40px;
  left: 353px;
}

.hotel-rating {
  position: absolute;
  top: 80px;
  right: 0px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  padding: 3px 12px 3px 15px;
  background-color: var(--middle-grey);
  margin-right: 73px;

}

.sort-item-link {
  text-decoration: none;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.6;
  padding-left: 20px;
  padding-right: 20px;
}

.hotels-list-link {
  color: var(--basic-black);
  text-decoration: none;
}


.details-link {
  background: var(--basic-blue);
  color: var(--basic-white);
  position: absolute;
  left: 20%;
  top: 95px;
}

.booking-link {
  background: var(--basic-brown);
  color: var(--basic-white);
  position: absolute;
  left: 29%;
  top: 95px;
  margin-left: 6px;
}


.details-link,
.booking-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  padding: 3px 17px 3px 16px;
}

/* Modal */

.modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 568px;
  max-height: 481px;
  margin: 0 auto;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.modal-title,
.search-button {
  padding: 0;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.modal-title {
  width: 100%;
  max-height: 85px;
  margin: 0 auto;
  padding: 30px 0;
  color: var(--basic-white);
  background: var(--basic-brown);
}

.tour-date-list {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}


.tourist-counter {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}



.search-button {
  display: flex;
  justify-content: center;
  width: 458px;
  margin: 0 auto;
  background: var(--basic-blue);
  text-align: center;
  padding: 16px 181px 16px 182px;
  margin-top: 54px;
  margin-bottom: 55px;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
}
